version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: ExpensesTrackerApp/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - SA_PASSWORD=YourSecurePassword123!
    depends_on:
      - sqlserver

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: YourSecurePassword123!
      ACCEPT_EULA: Y
    ports:
      - "1433:1433"